*{
	padding: 0;
	margin: 0
}
body{
	font-family: "微软雅黑";
	background: url(../images/grass-bg.png) repeat left top;
}
.hide{
	display: none;
}
.canvas-main{
	position: relative;
	width: 1080px;
	margin:20px auto 0;
	border-radius: 5px;
}
#load-precent-nums{
	position: absolute;
	left:50%;
	top:50%;
	font-size: 14px;
	font-weight: bold;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
.game-cover-wrap{
	width: 1080px;
	height: 540px;
	margin:20px auto 0;
	position: relative;
	overflow: hidden;
}
.game-cover{
	position: absolute;
	z-index:10;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.select-role-wrap{
	position: absolute;
	z-index: 9;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.game-cutdown{
	font-size: 160px;
	font-family: SimSun;
	font-weight: bold;
	color:orange;
}
.game-resume-detail{
	opacity: 0;
	width: 500px;
	height: 360px;
	position: absolute;
	left:50%;
	top:200px;
	margin-left:-180px;
	color:#fafafa;
	background: url(../images-tmp/resume-container.png) no-repeat left
}

.animated{
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
}