*{
	padding: 0;
	margin: 0
}
body{
	font-family: "微软雅黑";
	background-color: #eee;
}
.hide{
	display: none;
}
.canvas-main{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -550px;
	margin-top:-280px;
	width: 1100px;
	height: 560px;
	background: url(../images/grass-bg.png) repeat left top;
	border-radius: 5px;
}
.load-precent-wrap{
	width: 500px;
	height: 30px;
	line-height: 30px;
	margin:0 auto;
	border-radius:15px;
	border:1px solid #ff3c00;
}
#load-precent{
	width: 0;
	height: 100%;
	background-color: #ff3c0a;
	border-radius:15px;
}
#load-precent-nums{
	margin-top: -30px;
	color:#fff;
	font-size: 14px;
	text-align: center;
}
#myCanvas,#myCanvas-bg{
  display: block;
	margin:10px;
}
#myCanvas{
  position: absolute;
  left: 0;
  top:0;
}
#fps-show{
  position: absolute;
  left:0;
  top:-20px;
  font-size: 12px;
}
.game-cover-img{
	position: relative;
	width: 310px;
	height: 222px;
	margin:100px auto 80px;
	background: url(../images/game-cover.png) no-repeat left top;
}
.game-resume{
	position: absolute;
	bottom: -20px;
	width: 63px;
	height: 64px;
}
.game-resume.one{
	left: -10px;
	top: 60px;
	background: url(../images/sub-img.png) no-repeat -69px -777px;
}
.game-resume.two{
	right: -30px;
	background: url(../images/sub-img.png) no-repeat -389px -823px;
}
.start-game-btn{
	width: 250px;
	height: 50px;
	margin:0 auto;
	background:url(../images/sub-img.png) no-repeat -139px -775px;
	cursor: pointer;
}
.game-cover-wrap{
	width: 1100px;
	height: 560px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -550px;
	margin-top:-280px;
	overflow: hidden;
}
.game-cover{  
	position: absolute;
	z-index:10;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #e5a62b;
	border-radius: 5px;
}
.select-role-wrap{
	position: absolute;
	z-index: 9;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #7baf5f;
	text-align: center;
}
.select-role-title{
  font-size: 50px;
  color:#cd7200;
  font-weight: normal;
  margin-top: 60px;
}
.role-list{
	display: inline-block;
	width:150px;
	height: 250px;
	margin:50px;
  background-color: #57b921;
	border:1px solid #2b6909;
	border-radius: 5px;
	cursor: pointer;
}
.role-list p{
  margin:50px auto 0;
}
.role-list.boy p{
  width: 51px;
  height: 138px;
	background: url(../images/sub-img.png) no-repeat -420px -485px;
}
.role-list.girl p{
  width: 49px;
  height: 131px;
	background: url(../images/sub-img.png) no-repeat -420px -623px;
}
.role-list.runner p{
  width: 80px;
  height: 124px;
	background: url(../images/sub-img.png) no-repeat -420px -360px;
}
.game-cutdown{
	position: absolute;
	left:50%;
	top:50%;
	width: 55px;
	height: 63px;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.game-cutdown-1{
	background: url(../images/sub-img.png) no-repeat -453px -823px;
}
.game-cutdown-2{
	background: url(../images/sub-img.png) no-repeat -133px -825px;
}
.game-cutdown-3{
	background: url(../images/sub-img.png) no-repeat -188px -825px;
}
.game-cutdown-4{
	background: url(../images/sub-img.png) no-repeat -243px -825px;
}
.game-cutdown-5{
	background: url(../images/sub-img.png) no-repeat -298px -825px;
}
.game-resume-detail{
	width: 500px;
	height: 360px;
	position: absolute;
  z-index: 1001;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top: -180px;
	color:#fafafa;
	background: url(../images/sub-img.png) no-repeat 0 0;
}
.game-resume-wrap{
  position: absolute;
  left: 50%;
  top:45%;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
.game-work-exp{
  min-width: 350px;
}
.game-resume-wrap h2{
  margin-bottom: 15px;
  text-align: center;
}
.game-resume-wrap a{
  color: #000
}
.game-resume-close{
  position: absolute;
  right: 20px;
  top:10px;
  font-size: 40px;
  font-family: arial;
  cursor: pointer;
}
.game-black-room{
  width: 500px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -250px;
  background-color: #eee;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 5px;
}
.roll-dice-wrap{
  position: absolute;
  left:50%;
  top:45%;
  width: 200px;
  margin-left: -100px;
  z-index: 1000;
  display: none;
}
.roll-dice-btn{
  margin:0 auto;
  width: 69px;
  height: 69px;
  background: url(../images/sub-img.png) no-repeat -420px -754px;
}
.roll-dice-btn:hover{
  background: url(../images/sub-img.png) no-repeat 0 -777px;
  cursor: pointer;
}
.roll-count-select-wrap{
  margin:0 auto 5px;
  width: 200px;
  height: 10px;
  border:1px solid #f87c4c;
  border-radius: 5px;
}
.roll-count-select{
  width: 123px;
  height: 100%;
  background-color: #ec7206;
  border-radius: 5px;
}
.roll-count-num{
  position: absolute;
  top:-15px;
  font-size: 12px;
  font-weight: bold;
  color:#503b04;
}
.roll-count-num.one{
  left: 0
}
.roll-count-num.two{
  left: 50px;
}
.roll-count-num.three{
  left: 100px;
}
.roll-count-num.four{
  left: 150px;
}
.roll-count-num.five{
  left: 200px;
}
.roll-num-show{
  width: 170px;
  position: absolute;
  left: 50%;
  top:20%;
  margin-left:-85px; 
  font-size: 150px;
  font-family: arial;
  font-weight: bold;
  color:#ec7206;
  text-align: center;
}
.mini-game-wrap{
  position: absolute;
  z-index: 4;
  width: 600px;
  height: 260px;
  left:50%;
  top:50%;
  margin-left: -300px;
  margin-top: -130px;
  padding:30px 20px;
  background-color: #e5a62b;
  text-align: center;
  border-radius: 5px;
}
.poker-tips-title{
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.poker-tips-wrap{
  width: 400px;
  min-height: 30px;
  position: absolute;
  z-index: 10;
  left:50%;
  top:50%;
  margin-left: -200px;
  margin-top: -30px;
  /*transform:translate(-50%,-50%);*/
  padding: 20px 10px;
  border: 1px solid #333;
  color: #fff;
  background-color: #ec562d;
  border-radius: 5px;
}
.mini-game-wrap em{
  font-style: normal;
  padding: 0 5px;
  color:#000;
}
.poker-list-wrap{
  display: inline-block;
  margin:0 20px;
  width: 140px;
  height: 208px;
  position: relative;
  z-index: 9;
  overflow: hidden;
  border-radius: 5px;
}
.poker-list-back,.poker-list{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  -webkit-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property:-webkit-transform;
  transition-property:transform;
  cursor: pointer;
}
.poker-list-back{
  z-index: 10;
  background: url(../images/sub-img.png) no-repeat 0 -360px;
}
.poker-list{
  -webkit-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform:rotateY(180deg);
  z-index: 9;
}
.poker-list.cover{
}
.poker-list.one{
  background: url(../images/sub-img.png) no-repeat -140px -360px;
}
.poker-list.two{
  background: url(../images/sub-img.png) no-repeat -280px -360px;
}
.poker-list.three{
  background: url(../images/sub-img.png) no-repeat -280px -567px;
}
.poker-list.four{
  background: url(../images/sub-img.png) no-repeat -140px -568px;
}
.poker-list.five{
  background: url(../images/sub-img.png) no-repeat 0 -570px;
}
.rollOver0{
  -webkit-transform:rotateY(0deg);
  -ms-transform:rotateY(0deg);
  transform:rotateY(0deg);
}
.rollOver180{
  -webkit-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform:rotateY(180deg);
}
.animated{
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated-slow{
	-webkit-animation-duration: 1s;
          animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite,.animated-slow.infinite{
	-webkit-animation-iteration-count:infinite;
	 -o-animation-iteration-count:infinite;
	  -moz-animation-iteration-count:infinite;
	   animation-iteration-count:infinite;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
            transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: swing;
          animation-name: swing;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
          animation-name: tada;
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform:  rotate3d(0, 1, 0, 90deg);
            transform:  rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform:  rotate3d(0, 1, 0, -20deg);
            transform:  rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform:  rotate3d(0, 1, 0, 10deg);
            transform:  rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform:  rotate3d(0, 1, 0, -5deg);
            transform:  rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: ;
            transform: ;
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform:  rotate3d(0, 1, 0, 90deg);
            transform:  rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform:  rotate3d(0, 1, 0, -20deg);
            transform:  rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform:  rotate3d(0, 1, 0, 10deg);
            transform:  rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform:  rotate3d(0, 1, 0, -5deg);
            transform:  rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: ;
            transform: ;
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}
